/* amarante-regular - latin */
@font-face {
    font-family: 'Amarante';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/amarante-v22-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/amarante-v22-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/amarante-v22-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/amarante-v22-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/amarante-v22-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/amarante-v22-latin-regular.svg#Amarante') format('svg'); /* Legacy iOS */
}
/* geo-regular - latin */
@font-face {
    font-family: 'Geo';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/geo-v19-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/geo-v19-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/geo-v19-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/geo-v19-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/geo-v19-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/geo-v19-latin-regular.svg#Geo') format('svg'); /* Legacy iOS */
}
body {
    font-family: 'Geo';
    background:#0C230F;
    overflow:hidden;
    margin:0;
}
.flex-container {
    height: 672px;
    width: 100%;
    display: flex;
    justify-content: center;
}
.flex-item {
    background-color: darkolivegreen;
    padding: 0px;
    margin: 0px;
    height: 672px;
    width: 1056px;
}
canvas {
    background: #000;
    image-rendering:-moz-crisp-edges;
    image-rendering:pixelated;
    display: none;
}
.text {
    margin-top: 20px;
    text-align: center;
    font-size: 40px;
    color: #8DC497;
}

#loading {
    background: url(../img/logo-600.png);
    height: 672px;
    width: 1056px;
    margin: auto auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#loadingtext {
    background-image: url(../img/logobanner-600.png);
    height: 306px;
    width: 666px;
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

#loadingcontent {
    display:block;
    color: #c28d75;
    font-size: 4.4rem;
    margin-block-start: 0px;
    margin-block-end: 20px;
}

#start {
    display: none;
    position: block;
    transform: translateY(10px);
    border: 0px;
    background-color: rgba(0, 0, 0, 0);
    background-image: url(../img/buttonstart-600.png);
    height: 84px;
    width: 258px;
    margin: auto auto;
}

#start:hover {
    background-image: url(../img/buttonstarthover-600.png);
}
#start:active {
    background-image: url(../img/buttonstartactive-600.png);
}
.preload-images{display:none;}
#transition {
    position:absolute;
    background-color: black;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    transition: all 1000ms linear 0ms;
    display: block;
    pointer-events: none;
}